<header>
    
  
    <!-- Menu de Navegacion -->
    <div class="topbar card-body ">
      <!-- Cabecera -->
      <nav class=" navbar navbar-expand-lg barra-superior-govco" aria-label="Barra superior">
        <a href="https://www.gov.co/" target="_blank" aria-label="Portal del Estado Colombiano - GOV.CO"></a>
      </nav>
  
      <div class="row" style="height: 75px;">
  
        <div class="navbar navbar-expand-lg  col-6  collapse_div">
          <div class="container-fluid container-second-navbar-menu-govco">
            <div  style="width: 100%;">
              <div class="col d-flex justify-content-start  align-self-center collapse_margin_left" >
                <img src="../../../assets/iconos/LOGO-COLOMBIA-POTENCIA-DE-LA-VIDA-1.png" height="50px">
              </div>
            </div>
          </div>
        </div>
  
        <div class="navbar navbar-expand-lg  col-6 collapse_div">
          <div class="container-fluid container-second-navbar-menu-govco" >
            <div  style="width: 100%;">
              <div class="col d-flex justify-content-end collapse_margin_right" >
                <img src="../../../assets/iconos/logoNuevo2023_2.jpg" height="60px">
              </div>
            </div>
          </div>
        </div>
  
  
      </div>
  
    </div>
  
  
  </header>