<div class="container-navbar-menu-govco blue-menu-govco row " style="margin-bottom: 15px;margin-top: 40px;" >


    <nav class="navbar navbar-expand-lg rounded navbar-menu-govco"
        role="navigation">
        <div class="container-fluid container-second-navbar-menu-govco">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation"
                style="margin-left: 25px; margin-bottom: 10px;">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-collapse-menu-govco" id="navbarScroll" >

                <ul class="navbar-nav navbar-nav-menu-govco ">
                    <li class="nav-item" style="box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5)">
                        <a class="nav-link dir-menu-govco " aria-current="page" routerLink="/aclaro">
                            <span class="text-item-menu-govco font_1 d-flex justify-content-center align-self-center"
                                style="font-size: 18px; font-weight: 700; width: 100%;">
                                Inicio
                            </span>
                        </a>
                    </li>

                    <li class="nav-item" style="box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5)">
                        <a class="nav-link dir-menu-govco" aria-current="page" routerLink="/description">
                            <span class="text-item-menu-govco font_1 d-flex justify-content-center align-self-center"
                                style="font-size: 18px; font-weight: 700; width: 100%;">
                                Conoce Aclaro
                            </span>
                        </a>
                    </li>

                    <li class="nav-item" style="box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5)">
                        <a class="nav-link dir-menu-govco " aria-current="page" routerLink="/comentarios">
                            <span class="text-item-menu-govco font_1 d-flex justify-content-center align-items-center"
                                style="font-size: 18px; font-weight: 700; width: 100%;">
                                Comentarios
                            </span>
                        </a>
                    </li>
                    
                    <li class="nav-item" style="box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5)">
                        <a class="nav-link dir-menu-govco " aria-current="page" routerLink="/preguntas">
                            <span class="text-item-menu-govco font_1 d-flex justify-content-center align-items-center"
                                style="font-size: 18px; font-weight: 700; width: 100%;">
                                Preguntas Frecuentes
                            </span>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>



</div>
<!--
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/aclaro">/ Portal Web</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a routerLink={{titulo}}>/{{titulo}}</a></li>
    </ol>
</nav>
-->