<aside class="left-sidebar" style="margin-top: 15px;">

    <div class="position-relative">

        <div class="row " style="height: 120px; background-color: #FFC300; margin-right: 0px;">
            <div class="col d-flex justify-content-center hide_span">
                <img src="../../../assets/iconos/ACLARO-2-logo.png" width="250px">
            </div>
            <!--
            <div class="col d-flex justify-content-center hide_span">
                <p calss="font_2" style="font-size:25px;font-weight: 700;">ACLARO</p>
            </div>
            -->
        </div>
        <div class="col d-flex justify-content-center " style="margin-top: 35px;">
            <div class="hide_span">
                <span style="color:black;font-size: 20px; font-weight: 700;">Herramientas</span>
            </div>
            <div class="hide_tools">
                <img src="../../../assets/iconos/tools.png " style="width: 35px;" />
            </div>
        </div>

        <hr style="height:2px;border-width:0;color:gray;background-color:gray">

        <nav class="sidebar-nav" style="margin-top: -30px;">
            <ul id="v-pills-tab" class="nav flex-column nav-pills" id="sidebarnav">

                <li><a routerLink="/home-corrector" class="nav-link show " data-bs-toggle="pill" aria-expanded="false">

                        <img class="margin_aux margin_left_aux" src="../../../assets/iconos/logo-gramatica.png"
                            style="width: 35px;" />
                        <span class="hide-menu mx-2  h6 font_1 hide_name"
                            style="color:black;font-size: 1.0rem;font-weight: 600;"> Corrector</span>
                    </a>
                </li>
                <li> <a routerLink="/home-simplificador" class="nav-link" data-bs-toggle="pill" aria-expanded="false">

                        <img class="margin_aux margin_left_aux" src="../../../assets/iconos/logo-simplificacion.png"
                            style="width: 35px;" />
                        <span class="hide-menu mx-2 h6 font_1 hide_name"
                            style="color:black;font-size: 1.0rem; font-weight: 600;">Simplificador</span>
                    </a>
                </li>
                <li> <a routerLink="/home-resumen" class="nav-link" data-bs-toggle="pill" aria-expanded="false">

                        <img class="margin_aux margin_left_aux" src="../../../assets/iconos/logo-resumen.png"
                            style="width: 35px;" />
                        <span class="hide-menu mx-2 h6 font_1 hide_name"
                            style="color:black;font-size: 1.0rem; font-weight: 600;">Resumen</span>
                    </a>
                </li>
                <li> <a routerLink="/home-metricas" class="nav-link" data-bs-toggle="pill" aria-expanded="false">

                        <img class="margin_aux margin_left_aux" src="../../../assets/iconos/logo-score.png"
                            style="width: 35px;" />
                        <span class="hide-menu mx-2 h6 font_1 hide_name"
                            style="color:black;font-size: 1.0rem; font-weight: 600;">Legibilidad</span>
                    </a>
                </li>

                <div style="width: 100%; margin-top: 200px;">
                    <div class="col d-flex justify-content-center ">
                        <div class="hide_span">
                            <span style="color:black;font-size: 20px; font-weight: 700;">Tablero</span>
                        </div>
                        <div class="hide_tools">
                            <img src="../../../assets/iconos/dashboard.png" style="width: 35px;" />
                        </div>
                    </div>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                </div>

                <li> <a routerLink="/board" class="nav-link" data-bs-toggle="pill" aria-expanded="false">
                        <img class="margin_aux margin_left_aux" src="../../../assets/iconos/logo-tablero.png"
                            style="width: 35px;" />
                        <span class="hide-menu mx-2 h6 font_1 hide_name"
                            style="color:black;font-size: 1.0rem; font-weight: 600;">Estadisticas</span>
                    </a>
                </li>

            </ul>

        </nav>

        
    </div>

</aside>