


<div id="idCorrector" class="b-example-divider"></div>
<div  class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h3 class="font_1" style="font-weight: 600;">Funcionamiento corrector </h3>
        <p class=" font_2">Si deseas identificar errores ortográficos, gramaticales, puntuación y de estilo en tu texto. Ingresa tu texto en el campo de “<b>Ingresar texto</b>” y da clic en el botón de “<b>Ejecutar</b>”, entonces el sistema buscara los posibles errores en el texto ingresado resaltando las secciones del texto que se sugieren para corrección y se presentara una lista con los posibles errores en la sección de “<b>Posibles Correcciones</b>”, al dar clic sobre el texto resaltado se presentara una ventana emergente con el tipo de error y lista con las posibles correcciones, al dar clic sobre una de la opciones esta será reemplazada en el texto original. También se presenta el botón de “<b>Ignorar opciones</b>”, que simplemente elimina la sugerencia de corrección.  </p>
          
        <p class=" font_2">El botón de “<b>Borrar</b>” limpia la sección de “<b>Ingresar texto</b>” y el botón de “<b>Obtener texto anterior</b>” permite trasladar texto ingresado y procesado anteriormente en otras herramientas.</p>
               
        <p class=" font_2">Se recomienda utilizar el correcto ortográfico antes de utilizar el resto de herramientas.</p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="../../../assets/imagenes/Diagrama_corrector.jpg" alt="" width="450">
      </div>
    </div>
  </div>

<div id="idSimplificador" class="b-example-divider"></div>

<div  class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h3 class="font_1" style="font-weight: 600;">Funcionamiento Simplificador</h3>
        <p class=" font_2">Si desea identificar palabras de difícil compresión y buscara alternativas mas sencillas para su sustitución. Ingresa tu texto en el campo de “<b>Ingresar texto</b>” y has clic en el botón de “<b>Ejecutar</b>”, entonces el sistema buscara las palabras complejas resaltando estas palabras en amarillo, al dar clic sobre cualquier sugerencia de desplegaran dos opciones “<b>Generar Sustitución</b>” que buscara los posibles remplazos para la palabra teniendo y opción “<b>Ignorar Palabra”</b> que simplemente elimina la sugerencia de sustitución.   </p>

        <p class=" font_2">Cuando se da clic en “<b>Generar Sustitución</b>” se genera un botón en la sección de “<b>Posibles Sustituciones</b>” y la palabra para sustitución cambia de amarillo a verde, al dar clic sobre este botón se despliega una lista con las posibles Sustituciones al seleccionar una de las opciones la palabra es reemplazada en el texto ingresado. También se presenta el botón de “<b>Ignorar opciones</b>”, que simplemente elimina la sugerencia de sustitución. Es posible hacer varias consultas de sustitución el sistema almacena las posibles sustituciones para las palabras seleccionadas. </p>

        <p class=" font_2">El botón de “<b>Borrar</b>” limpia la sección de “<b>Ingresar texto</b>” y el botón de “<b>Obtener texto anterior</b>” permite trasladar texto ingresado y procesado anteriormente en otras herramientas.</p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="../../../assets/imagenes/Diagrama_simplificador.jpg" alt="" width="450">
      </div>
    </div>
  </div>
<div id="idResumen" class="b-example-divider"></div>

<div   class="container my-5">
    <div  class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h3 class="font_1" style="font-weight: 600;">Funcionamiento resumen</h3>
        <p class=" font_2">Si desea obtener una versión abreviada de un texto que captura los puntos clave, las ideas principales y la información relevante del mismo, puedes hacerlo seleccionando entre dos tipos de resumen:</p>

        <p class=" font_2"><strong>Resument Extractivo:</strong> el cual identifica y selecciona las oraciones más importantes del texto original para producir una versión abreviada del texto. Funciona muy bien con texto extensos. </p>

        <p> Si seleccionas el “<b>Resumen Extractivo</b>” primero debes ingresar tu texto en la sección de “<b>Ingresar texto</b>” seleccione el porcentaje de resumen a aplicar en la barra de “<b>Resumen Porcentaje</b>” y dar clic en el botón de “<b>Ejecutar</b>” para generar el resumen.</p>

        <p class=" font_2"><strong>Resumen Abstractivo:</strong> el cual extrae la información más relevante del texto original y, a través de técnicas avanzadas de Inteligencia Artificial,​ para obtener un resumen completamente nuevo. Es posible que algunas partes de este resumen ni siquiera aparezcan en el texto original. Funciona mejor con textos cortos.</p>

        <p> Si seleccionas el “<b>Resumen Abstractivo</b>” primero debes ingresar tu texto en la sección de “<b>Ingresar texto</b>” y dar clic en el botón de “<b>Ejecutar</b>” para generar el resumen.</p>

        

        <p class=" font_2">El botón de “<b>Borrar</b>” limpia la sección de “<b>Ingresar texto</b>” y el botón de “<b>Obtener texto anterior</b>” permite trasladar texto ingresado y procesado anteriormente en otras herramientas.</p>
        
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img lass="rounded-lg-3" src="../../../assets/imagenes/Diagrama_resumen.jpg" alt="" width="450">
      </div>
    </div>
  </div>

<div id="idLegibilidad" class="b-example-divider"></div>

<div  class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h3 class="font_1" style="font-weight: 600;">Funcionamiento legibilidad </h3>
      <p class="font_2">Si desea realizar un análisis de legibilidad de un texto, se proporcionan diferentes opciones una es el índice Flesch-Szigriszt que generará una escala de 0 a 100 indicando la dificultad, entre más cercano sea el valor de 100 el texto será de fácil compresión. Además, se mostrarán un conjunto de estadísticas del texto ingresado, para poder brindar recomendaciones sobre el  lenguaje claro, esto se mostrará en las pestañas en las secciones de  “<b>Análisis de legibilidad</b>” y “<b>Características de Lenguaje claro</b>”.  </p>

      <p class=" font_2">Para realizar el analissis de legibilidad  resumen solo tienes que escribir o pegar tu texto y dar clic en el botón "<b>Ejecutar</b>". El sistema generará un el analisis del texto ingresado.</p>

      <p class=" font_2">El botón de “<b>Borrar</b>” limpia la sección de “<b>Ingresar texto</b>” y el botón de “<b>Obtener texto anterior</b>” permite trasladar texto ingresado y procesado anteriormente en otras herramientas.</p>

    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="../../../assets/imagenes/Diagrama_legibilidad.jpg" alt="" width="450">
    </div>
  </div>
</div>






 


