

<footer>
    <div class="govco-footer">
      <div class="row govco-portales-contenedor m-0">
        <div class="col-2 govco-footer-logo-portal">
          <div class="govco-logo-container-portal d-flex align-items-center flex-column">
            <!--<span class="govco-logo">b</span>-->
            <div >
              <a href="https://www.gov.co/" target="_blank"><img src="../../../assets/iconos/logo.svg" ></a>
            </div>
            <div class="mt-3">
              <a  href="https://www.colombia.co/" target="_blank" ><img src="../../../assets/iconos/logo-colombia-co.png" style="width: 50px"></a>
            </div>
            
            <!--<span class="govco-co">s</span>-->
          </div>
        </div>
        <div class="col-5 govco-info-datos-portal">
          <div class="govco-separator-rows"></div>
          <div class="govco-texto-datos-portal">
            <p class="govco-text-header-portal-1 font_2">
              Aclaro
            </p>
            <p class="font_2" style="font-size: 14px;">Dirección: Calle 26 # 13-19, Piso 1° - Edificio ENTerritorio / Bogotá D.C., Colombia <br>
              Código Postal: 110311 <br>
              Horario de Atención: Lunes a Viernes 8:00 am a 4:30 pm. Jornada continua</p>
          </div>
          <div class="govco-network extramt-network" >
          
            <div class="row row-cols-3">
  
  
              <div >
                <a class="font_2" style="font-size: 12px; font-weight: bold; color: #ffffff;" href="https://twitter.com/DNP_Colombia" target="_blank"><img src="../../../assets/iconos/twitter.svg"   class="filterWhite" alt="" width="15" height="15" > @DNP_COLOMBIA</a>
              </div>
             
              <div >
                <a class="font_2" style="font-size: 12px; font-weight: bold; color: #ffffff;" href="https://www.youtube.com/channel/UCx25Fx8FD1URCYzlGVyLZ0w" target="_blank"><img src="../../../assets/iconos/youtube.svg"   class="filterWhite" alt="" width="15" height="15"> @DNP_COLOMBIA</a>
              </div>
  
              <div >
                <a class="font_2" style="font-size: 12px; font-weight: bold; color: #ffffff;" href="https://www.instagram.com/dnp_colombia/" target="_blank"><img src="../../../assets/iconos/instagram.svg"   class="filterWhite" alt="" width="15" height="15" > @DNPCOLOMBIA</a>
              </div>
  
              <div >
                <a class="font_2" style="font-size: 12px; font-weight: bold; color: #ffffff;" href="https://www.linkedin.com/company/departamento-nacional-de-planeacion/" target="_blank"><img src="../../../assets/iconos/linkedin.svg"   class="filterWhite" alt="" width="15" height="15"> @DNP_COLOMBIA</a>
              </div>
  
              <div >
                <a class="font_2" style="font-size: 12px; font-weight: bold; color: #ffffff;" href="https://www.facebook.com/DNPColombia/" target="_blank"><img src="../../../assets/iconos/facebook.svg"  class="filterWhite" alt="" width="15" height="15" > @DNPCOLOMBIA</a>
              </div>
              
  
              <div >
                <a class="font_2" style="font-size: 12px; font-weight: bold; color: #ffffff;" href="https://www.tiktok.com/@dnp_colombia" target="_blank"><img src="../../../assets/iconos/tiktok.svg" class="filterWhite" alt="" width="15" height="15" > @DNP_COLOMBIA</a>
              </div>
  
            </div>
          </div>
        </div>
  
        <div class="col-5 govco-info-telefonos">
          <div class="govco-separator-rows"></div>
          <div class="govco-texto-telefonos">
            <p class="govco-text-header-portal-1 font_1">
              <!--<span class="govco-phone-alt"></span>-->
              <a ><img src="../../../assets/iconos/telephone.svg"  class="filterWhite" alt="" width="15" height="15"> Contacto</a>
            </p>
            <p class="font_2" style="font-size: 14px;">Teléfono Conmutador: +57 601 381 50 00 <br>
              Línea gratuita anticorrupción: 01 8000 121221 opción 2 <br>
              Correo electrónico: servicioalciudadano@dnp.gov.co <br>
              Buzón de notificaciones DNP: <br>
              notificacionesjudiciales@dnp.gov.co</p>
          </div>
  
          <div class="govco-links-portal-container" >
            <div class="col-12 m-0 mt-0">
              <a class="govco-link-portal font_1" style="font-size: 12px; font-weight: bold;" href="https://www.dnp.gov.co/Politica-de-seguridad#politica-de-privacidad">Formule su petición PQRSD</a>
              <a class="govco-link-portal font_1" style="font-size: 12px; font-weight: bold;"  href="https://dnp.gov.co/Politica-de-seguridad#terminos-y-condiciones">Términos y condiciones</a>
            </div>
            <div class="col-12 m-0 mt-0">
              <a class="govco-link-portal font_1"  style="font-size: 12px; font-weight: bold;"  href="https://www.dnp.gov.co/Politica-de-seguridad#politica-de-privacidad">Políticas de privacidad</a>
              <a class="govco-link-portal font_1" style="font-size: 12px; font-weight: bold;" href="https://www.dnp.gov.co/Politica-de-seguridad#politica-derechos-de-autor">Políticas de derechos de autor</a> <br>
            </div>
            <div class="col-12 m-0 mt-0">
              <a class="govco-link-portal font_1" style="font-size: 12px; font-weight: bold;"  href="/aclaro">Mapa del sitio</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  
  